html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: linear-gradient(45deg, rgb(245, 179, 93), rgb(166, 195, 244));
}

/* Attribution */
#attribution-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

#attribution-container .attribution span {
    padding: 30px;
    font-size: 1rem;
    color: white;
}

#attribution-container .attribution a {
    color: rgb(0, 72, 255);
}

@media screen and (max-width:900px) {
     header div button #txt {
        display: none;
    }
    
    .row {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    #col-first {
        width: 100%;
    }

    #col-first form {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #col-first form label {
        width: 50%;
        font-size: 0.9rem;
    }

    #col-first form select {
        font-size: 0.9rem;
    }

    #col-second {
        width: 100%;
    }

    #col-second #container {
        margin: 10px 70px;
    }

    /* Attribution */
    #attribution-container .attribution {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
    }

    #attribution-container .attribution span {
        padding: 5px;
        font-size: 0.7rem;
    }
}
